spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    hikari:
      maximum-pool-size: 10
      schema: ${DB_SCHEMA}
      connection-timeout: 10000
      max-lifetime: 1700000
      idle-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  threads:
    virtual:
      enabled: true

springdoc:
  swagger-ui:
    path: /docs